@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.carrousel{
    display: flex;
    flex-direction: column;

}
.imgCarrousel{
    height: 600px;
    width: 800px;
}